/* ==================================================================
    Header and Nav
================================================================== */

nav {
  width: 100%;
  display: inline-block;
}

nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: #4b93d6;
  text-decoration: none;
  font-weight: bold;
  /* display: inline-block; */
  float: center;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  border-bottom: 2px solid #4c9cf1;
  transition: color 0.3s ease;
}

header {
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

header li a:hover {
  color: black;
  border-bottom: 2px solid black;
}

#menu-icon {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
medium display: nav goes under name
*/
/* @media (max-width: 860px) {
  header { display: block; }

  nav {
    width: 100%;
  }
} */

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 900px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  nav {
    display: inline-block;
    width: 90%;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    padding: 4px;
    background: #fff;
    border: 1px solid #444;
    right: 70px;
    top: 50px;
    width: 40%;
    border-radius: 4px;
    z-index: 1;
  }

  nav li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 4px;
  }
  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}
